service fps_hal /odm/bin/hw/vendor.oplus.hardware.biometrics.fingerprint@2.1-service
    # "class hal" causes a race condition on some devices due to files created
    # in /data. As a workaround, postpone startup until later in boot once
    # /data is mounted.
    class late_start
    user system
    group system input uhid

on boot

# For egis fp
    chown system system /dev/esfp0
    chmod 0660 /sys/bus/platform/devices/egis_input/navigation_enable
    chmod 0660 /sys/bus/platform/devices/egis_input/navigation_event
    chown system  system /sys/bus/platform/devices/egis_input/navigation_enable
    chown system  system /sys/bus/platform/devices/egis_input/navigation_event

# For silead fp
    chown system system /dev/silead_fp
    chmod 0666 /dev/silead_fp

on post-fs-data

    mkdir /data/vendor/fingerprint 0770 system system
    mkdir /mnt/vendor/persist/fingerprint 0770 system system
    chown system system /sys/kernel/oppo_display/hbm

# Add for silead_optical_fp
    mkdir /data/vendor/silead 0770 system system
    mkdir /mnt/vendor/persist/fingerprint/silead 0770 system system

# Add for egis optical fp
    mkdir /data/vendor/optical_fingerprint   0770 system system


on property:sys.boot_completed=1
    setprop vendor.oppo.biometrics.fingerprint.boot_completed 1
